<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel System</title>
</head>
<body>

    <h1> Welcome to Landon Hotel </h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Room Number</th>
            <th>Bed Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.name}"></td>
            <td th:text="${room.roomNumber}"></td>
            <td th:text="${room.bedInfo}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>